
body {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%)!important;
  background-attachment: fixed!important;
  min-height: 100vh!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  margin: 0!important;
  padding: 0!important;
}

#root {
  height: 100vh;
}

.links {
  color: #97c5fc;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.register-card {
  background-color: #F0F0F0;
  background: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 
              0 4px 6px -2px rgba(0, 0, 0, 0.03);
}

.gradiant-font {
  font-family: 'Montserrat'!important;
  background: linear-gradient(120deg, #8ec5fc 100%, #e0c3fc 0%);
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; 
  font-weight: 800;
}